hostname R2
no ip domain-lookup
interface loopback 0
ip address 150.1.2.2 255.255.255.255
interface GigabitEthernet2
no shutdown
{% for net in data.rip2 %} 
    {% for interface in data.interfaces2 %} 
        interface GigabitEthernet2.{{interface.id}}
        encapsulation dot1Q {{ interface.id }}
        ip address {{interface.ip}}
    {% endfor %}  
    router rip 
    version 2 
    network {{net.subnet}}  
    no auto-summary     
{% endfor %}

interface GigabitEthernet2.12
ip access-group 1 in 
exit

access-list 1 permit 155.1.13.0 0.0.0.255
access-list 1 deny any
 


