hostname R4
no ip domain-lookup
interface loopback 0
ip address 150.1.4.4  255.255.255.255
interface GigabitEthernet2
no shutdown
{% for net in data.rip4 %} 
    {% for interface in data.interfaces4 %} 
        interface GigabitEthernet2.{{interface.id}}
        encapsulation dot1Q {{ interface.id }}
        ip address {{interface.ip}}
    {% endfor %}  
    router rip 
    version 2 
    network {{net.subnet}}

    
    no auto-summary     
{% endfor %}



